html,
body {
    background-color: #fff9f0;
    margin: 0;
    padding: 0;
}

.pageTitle {
    text-align: center;
}
.chartDiv {
    display: inline-block;
}

.chartTitle {
    text-align: center;
}

#chartDiv5 {
    display: block;
    width: 95%;
    margin: 0 auto;
}

.gridlines line {
    stroke: #ddd;
}

.gridlines .domain {
    stroke: none;
}

.section {
    margin-bottom: 100px;
}
